.thumb_small{
    background-image: url("../images/doc_32-ZgBu4s.png");
    height: 32px;
    width: 32px;
}
.sprite_32x32_folder {
    background-image: url("../images/icons.png");
    background-position: left -2832px;
    height: 32px;
    width: 32px;
}

.sprite_32x32_collab_folder {
    background-image: url("../images/icons.png");
    background-position: left -2758px;

}

.sprite_doc_32_32-jpeg {
    background-position: left -1036px;
}
.sprite_doc_32_32-jpg {
    background-position: left -1073px;
}

.sprite_doc_32_32-gdoc {
    background-position: left -703px;
}

.sprite_doc_32_32-pdf {
    background-position: left -1813px;
}

.sprite_doc_32_32-png {
    background-position: left -1887px;
}

.img {
    float: left;
    margin-right: 10px;
    height: 32px;
    width: 32px;
}

.highlight {
    color: #000;
    font-weight: bold;
}

.list-group-item {
    border-top: 1px solid #e9e9e9;
    /*cursor: pointer;*/
    padding: 17px 5px;
}

.list_img {
    display: inline-block;
}

.sprite_12x12_file {
    background-image: url("../images/icons.png");
    background-position: left -173px;
    height: 12px;
    width: 12px;
}

.sprite_12x12_person {
    background-image: url("../images/icons.png");
    background-position: left -207px;
    height: 12px;
    width: 12px;
}

ul {
    list-style-type: none;
}

.list-edit {
    float: right;
}

/*.list-gp {*/
/*position:relative;*/
/*}*/

.sprite_16x16_pencil {
    background-image: url("../images/icons.png");
    background-position: left -1567px;
    height: 14px;
    width: 14px;
}

.new-folder-create {
    background-color: #f1f1f1;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    box-shadow: 0 0 2px 1px rgba(200, 200, 200, 0.8);
    left: -21px;
    margin: 0;
    padding: 8px;
    position: absolute;
    top: -15px;
    width: auto;
    z-index: 51;
}

.new-folder-create input {
    margin: 0 5px 0 0;
    padding: 0 5px;
}

input, button, select, div[contentEditable="true"], textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 99%;
}

.new-folder-create button {
    border-radius: 5px;
    font-size: 12px;
    margin: 0 4px 0 0;
    padding: 5px 9px;
}

.btn-primary, .btn-primary:active, .btn-primary.active, .btn-primary:hover, .btn-primary.hover, .btn-primary:focus, .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled.hover, .btn-primary.disabled:focus, .btn-primary.is-disabled, .btn-primary.is-disabled:hover, .btn-primary.is-disabled.hover, .btn-primary.is-disabled:focus {
    background-color: #1a74ba;
    background-image: linear-gradient(to top, #1a74ba 15%, #2081cc 100%);
    border-color: #0f5a94;
    color: #ffffff;
    text-shadow: none;
}

.btn-primary, .btn-primary:focus {
    background-color: #1d80c2;
    background-image: linear-gradient(to bottom, #1d80c2 0%, #1369a3 100%);
    border: 1px solid #0b3657;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
    transition: none 0s ease 0s;
}

.btn {
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #fff 20%, #ececec 100%);
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.7) inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #666;
    text-shadow: none;
    transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.2s linear 0s;
}

.btn {
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 16px;
    margin: 5px;
    overflow: visible;
    padding: 6px 16px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

input, button, select, div[contentEditable="true"], textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 99%;
}

body, .clr-default {
    color: #666;
}

::-ms-expand {
    display: none;
}
.styled-select, .list-edit select {
    background: url(../images/down_arrow_select.png) no-repeat right #E2E2E2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #2c2c2c;
    border-radius: 0px;
    font-size: 12px;
    text-overflow: '';
    text-indent: 0.01px;
}

.list-gp, .list-gp div {
    cursor: pointer;
}

button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff url("../images/buttons.png") repeat-x scroll 0 0;
    border-color: #e4e4e4 #d2d2d2 #b4b4b4;
    border-image: none;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    color: #3a3a3a;
    cursor: pointer;
    font-size: 0.929em;
    font-weight: normal;
    margin-bottom: 1em;
    margin-right: 0.6em;
    padding: 4px 17px;
    text-align: center;
    float: left;
}
.folder-rename{
    background-color: #f1f1f1;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    box-shadow: 0 0 2px 1px rgba(200, 200, 200, 0.8);
    left: -21px;
    margin: 0;
    padding: 2px 4px;
    position: absolute;
    top: -15px;
    width: auto;
    z-index: 51;
    float: left;
}

.folder-rename input {
    float: left;
}

.breadcrumb li a {
    cursor: pointer;
}